<div class="dialog-content-wrapper dialog-container">
    <mat-toolbar matDialogTitle class="mat-accent" style="margin: 0 !important;">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <h2 mat-dialog-title class="title dialog-title">
                Cámara "{{data.camera.full_name}}" - Rover "{{data.rover.name}}"
            </h2>
            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content style="padding: 0 !important; margin: 0 !important; overflow: hidden !important;">
        <div class="image-container">
            <img [src]="data.img_src">
        </div>
    </div>
</div>