<div class="container">
    <div fxLayout="row" fxLayoutAlign="center center">
        <h1 class="title">Challenge Southern Code Angular - Mars Rover Photos.</h1>
    </div>

    <div class="mb-16" *blockUI="'curiosity-grid'">
        <app-accordion title="{{roverNames.CURIOSITY}}" [data]="curiosityManifest"
            (camSelected)="camFilter($event, roverNames.CURIOSITY)" (onSearch)=filter($event)>
            <div fxFlexFill fxlayoutalign.gt-xs="space-between center">
                <grid *ngIf="filteredCuriosityData" [roverType]="roverNames.CURIOSITY" [data]="filteredCuriosityData"
                    (loadMore)="loadMore($event)" (loadedItems)="loadedItems($event)">
                </grid>
            </div>
        </app-accordion>
    </div>

    <div class="mb-16" *blockUI="'oportunity-grid'">
        <app-accordion title="{{roverNames.OPPORTUNITY}}" [data]="opportunityManifest"
            (camSelected)="camFilter($event, roverNames.OPPORTUNITY)">
            <div fxFlexFill fxlayoutalign.gt-xs="space-between center">
                <grid *ngIf="filteredOpportunityData" [roverType]="roverNames.OPPORTUNITY"
                    [data]="filteredOpportunityData" (loadMore)="loadMore($event)" (loadedItems)="loadedItems($event)">
                </grid>
            </div>
        </app-accordion>
    </div>

    <div class="mb-16" *blockUI="'perseverance-grid'" [data]="perseveranceManifest"
        (camSelected)="camFilter($event, roverNames.PERSEVERANCE)">
        <app-accordion title="{{roverNames.PERSEVERANCE}}">
            <div fxFlexFill fxlayoutalign.gt-xs="space-between center">
                <grid *ngIf="filteredPerseveranceData" [roverType]="roverNames.PERSEVERANCE"
                    [data]="filteredPerseveranceData" (loadMore)="loadMore($event)" (loadedItems)="loadedItems($event)">
                </grid>
            </div>
        </app-accordion>
    </div>

    <div class="mb-16" *blockUI="'spirit-grid'">
        <app-accordion title="{{roverNames.SPIRIT}}" [data]="spiritManifest"
            (camSelected)="camFilter($event, roverNames.SPIRIT)">
            <div fxFlexFill fxlayoutalign.gt-xs="space-between center">
                <grid *ngIf="filteredSpiritData" [roverType]="roverNames.SPIRIT" [data]="filteredSpiritData"
                    (loadMore)="loadMore($event)" (loadedItems)="loadedItems($event)">
                </grid>
            </div>
        </app-accordion>
    </div>
</div>
